div {
    background-color: gainsboro;
    display: inline-block;
    width: 150px;
    height: 200px;
    vertical-align: top;
    margin: 10px;
    padding: 10px;
}

#div1{
    overflow: visible;
}

#div2{
    overflow: hidden;
}

#div3{
    /* overflow: scroll; */
    overflow-y: scroll;
}

#div4{
    overflow: auto;
}