img {
    height: 200px;
}

p {
    background-color: bisque;
    text-align: justify;
    background-image: url(bg.png);
    background-size: 300px;
    overflow: hidden;
}

#img1 {
    float: left;
    margin-right: 10px;
}

#img2{
    float: right;
    margin-left: 10px;    
}

