#div1, #div2 {
    height: 140px;
    width: 140px;
    font-size: 30px;
    text-align: center;
    padding: 30px;
}

#div1{
    background-color: beige;
    float: left;
    margin-right: 10px;
}

#div2{
    background-color: lightcoral;
    float: right;
    margin-left: 10px;
}

p {
    /* background-image: url(bg.png);
    background-size: 500px;
    background-color: bisque; */
    text-align: justify;
    clear: both;
}

#divPai{
    background-image: url(bg.png);
    background-size: 500px;
    background-color: bisque;
    overflow: hidden;

}