* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
}

header h1 {
    float: left;
    color: white;
    margin: 0;
    padding: 0 20px;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
}

header li {
    float: left;
}

header li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 14px 16px;
}

header li:hover {
    background-color: darkslategray;
}

header li a.ativo {
    background-color: red;
}

main aside {
    background-color: antiquewhite;
    height: calc(100vh - 50px);
    width: 25vw;
    float: left;
    padding: 20px;
}

main article {
    background-color: rgb(245, 245, 231);
    height: calc(100vh - 50px);
    width: 75vw;
    float: left;
    padding: 20px;
    font-size: 20px;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100vw;
}

main article p img {
    float: left;
    height: 80px;
    margin-right: 10px;

}

main aside ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

main aside li a {
    display: inline-block;
    color: gray;
    text-decoration: none;
    padding: 10px 20px;
    background-color: rgb(245, 245, 231);
    margin: 10px 0;
    width: 100%;
    box-shadow: 2px 2px 5px gray ;
    
}

main aside li:hover {
    background-color: gray;
    color: rgb(245, 245, 231);
}

main aside li a.ativo {
    background-color: #333;
    color: white;
}

main aside li:active {
    box-shadow: 0px 0px 0px gray ;
    position: relative;
    left: 2px;
    top: 2px;
}

