body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

h1 {
    position: relative;
    text-align: center;
}

h1:after {
    content: "";
    background-image: linear-gradient(120deg, #e5ea15, #00c4ff);
    width: 90%;
    height: 5px;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%) skew(-50deg);
}

form {
    text-align: left;
    display: inline-block;
}

form>div {
    margin: 1em 0;
}

form label {
    display: block;
    margin-bottom: 5px;
}

input+label {
    display: inline;
    margin: 0px;
}

fieldset>input[type=radio]:not(:first-of-type) {
    margin-left: 20px;
}


fieldset {
    display: inline-block;
    border-radius: 2px;
    border: solid 1px gray;
}

input {
    border-radius: 2px;
    border: solid 1px gray;
}

input:focus {
    outline: 3px solid gray;
}


input:required {
    background-color: lightblue;
}

input[type=text]:valid,
input[type=url]:valid,
input[type=email]:valid,
input[type=password]:valid {
    background: url('/img/check.svg') no-repeat 95% 50% lightgreen;
    background-size: 12px;

}

input[type=text]:invalid,
input[type=url]:invalid,
input[type=email]:invalid,
input[type=password]:invalid {
    background: url('/img/alert.svg') no-repeat 95% 50% lightyellow;
    background-size: 12px;

}

input[type=number]:in-range{
    background-color: blue;
}

input[type=number]:out-of-range{
    background-color: red;
}

input[type=text]:disabled{
    border: dotted 2px gray;
}

input[type=checkbox]:checked +  label,
input[type=radio]:checked + label {
    font-weight: bold;
}

input[type=submit] {
    background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%);
    margin: 10px 0px;
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 20px #aaa;
    background-size: 200% auto;
    transition: 0.5s;

}


input[type=submit]:hover {
    cursor: pointer;
    background-position: right center;
    transition: 0.5;

}