div {
    border: solid 1px black;
    margin: 30px;
    height: 100px;
    width: 100px;
    display: inline-block;
    /* opacity: 0.5; */
    transition: 0.7s;
}

#div1 {
    background-color: blue;
}

#div2 {
    background-color: yellow;
}

#div3 {
    background-color: red;
}

div:hover{
    opacity: 0.5;
    transition: 0.7s;
}